<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias autem
      molestiae vitae vero repudiandae repellendus excepturi eos sit rerum
      velit!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias autem
        molestiae vitae vero repudiandae repellendus excepturi eos sit rerum
        velit!
      </p>
    </div>
  </header>
</section>
